<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="twitter:card" content="{% if page.titleimg %}{{'summary_large_image'}}{% else %}{{'summary'}}{% endif %}">
  <meta name="twitter:site" content="@f_d_schneider">
  <meta name="twitter:creator" content="@f_d_schneider">
  {% if page.title %}<meta name="twitter:title" content= "{{page.title}}">{% endif %}
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.titleimg %}{{page.titleimg}}{% else %}{{site.avatar | prepend: '/'| prepend: site.baseurl | prepend: site.url }}{% endif %}">

  <link rel="stylesheet" href="et-book.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />


  <!-- mathjax.org for math equations -->
      <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      imageFont: null,
      extensions: ["tex2jax.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]} ,
      menuSettings: { context: "Browser" }
      });
      </script>

      <script type="text/javascript"  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>

  <!--
    - Dynamically set liquid variables for working with URLs/paths
    -->
      {% if site.baseurl and site.baseurl != '' %}
        {% assign BASE_PATH = site.baseurl %}
        {% assign HOME_PATH = site.baseurl %}
      {% else %}
        {% assign BASE_PATH = nil %}
        {% assign HOME_PATH = "/" %}
      {% endif %}

</head>
