
  <div class = "wrapperlanding">
    <div class="site-info">
    <p>{{ site.description | markdownify }}</p>

    <!--<p>{{ site.keywords }}</p>-->

    <a href="{{site.baseurl}}/research/">Research</a>  |
    <a href="{{site.baseurl}}/cv/"> CV </a>
      <a href="{{site.baseurl}}/_assets/cv_fdschneider.pdf">(pdf)</a> |
    <a href="{{site.baseurl}}/publications/">Publications</a>
      <a href="{{site.baseurl}}/_assets/publist_fdschneider.pdf">(pdf)</a>


      <!--  <hr class="intro-divider"> -->
   </div>
  </div>
