
  <div class = "wrapperlanding">
    <div class="site-info">
    <p>{{ site.description | markdownify }}</p>

    <!--<p>{{ site.keywords }}</p>-->

    <a href="{{site.baseurl}}/research/">Research</a>  |
    <a href="{{site.baseurl}}/cv/"> CV </a>
      <a href="{{site.baseurl}}/_assets/cv_fdschneider.pdf">(pdf)</a> |
    <a href="{{site.baseurl}}/publications/">Publications</a>
      <a href="{{site.baseurl}}/_assets/publist_fdschneider.pdf">(pdf)</a>

   </div>

   <div  class="site-info">
     <p> I'm also an environmental artist and sci-art communicator. Since 2018, I've been making land-art and eco-art works on my own or in collaborations with other artists. I have a particular fondness for moss. I promote and support collaborations between natural sciences and the arts.</p>

     <a href="{{site.baseurl}}/art/">Artworks</a> | Texts
       <!--  <hr class="intro-divider"> -->

   </div>
  </div>
