<a href= "{{ BASE_PATH }}{{publication.url}}">{{ publication.authors }} ({{ publication.date | date: "%Y"}}), {{ publication.title }}, <i>{{ publication.journal }}</i>, {{publication.volume}}:{{ publication.pages }}
<!--, doi:  {{publication.doi}}--></a>
{% if publication.pdf %}
(<a href = "{{publication.pdf}}">pdf</a>)
{% endif %}
{% if publication.f1000 %}
<a href="http://f1000.com/prime/{{publication.f1000}}?bd=1" target="_blank" ><img  src="https://s3.amazonaws.com/cdn.f1000.com/images/badges/badgef1000.gif" alt="Access the recommendation on F1000" id="badge-hyperlink" style = "width:70px; height: auto;" /></a>
{% endif %}
