---
layout: default
---

<header class="post-header">
		<h1 class="post-title">{{ page.title | markdownify}}</h1>
</header>

	<div>
		<h5> {{ page.authors | prepend: '*by* &nbsp;' | markdownify }}</h5>
	</div>


	<div class = "abstract">

	{{ page.content | markdownify }}

	</div>

<div>
{% if page.media %}<h5> {{ page.media }} </h5>{% endif %}
  {% if page.event %}<h5> <i>at</i> {{ page.event }} </h5>{% endif %}
  {% if page.date %}<h5>{{ page.date | date_to_long_string }} </h5>  {% endif %}
</div>

  <h5>All photographs on this page &#9400; {{ page.date | date: "%Y" }} Florian D. Schneider.</h5>
